@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  /* Use Montserrat for display/headings */
  --font-montserrat: "Montserrat", sans-serif;
  /* Use Open Sans for the main sans stack */
  --font-sans: "Open Sans", ui-sans-serif, system-ui, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  /* Reference the variable defined in @theme */
  font-family: var(--font-montserrat);
}